<div id="<%= dom_id profile %>">
  <p>
    <strong>Website:</strong>
    <%= profile.website %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= profile.password %>
  </p>

  <p>
    <strong>Password length:</strong>
    <%= profile.password_length %>
  </p>

</div>
